.navbar-menu li  {
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-menu .tabs ul{
  display: block;
}
footer{
  background: transparent !important;
}

@media screen and (min-width: 1020px){
  .navbar-menu .tabs ul{
       display: flex;
   }
   .column .container {
     margin-top: 10px;
   }
}

