@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

.navbar-menu .tabs ul{
  font-family: 'Economica', sans-serif;
  display: block;
  font-size: 22px;
}

.social-media {
    margin-top: 30px;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  .social-media p{
      margin-bottom: 20px;
  }


@media screen and (min-width: 769px){
    .hero-body .form {
        margin-left: 25%;
    }
  
}
@media screen and (min-width: 1020px){
      .navbar-menu .tabs ul{
        display: flex;
    }
}

