* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    padding: 0px;
    margin: 0px;
}
.navbar-menu li  {
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-menu .tabs ul{
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
section article #btn {
    margin-left: 5px;
}
.container {
    padding: 20px;
}
section .column i {
    margin-left: 10px;
}
footer{
    background: transparent !important;
  }

@media screen and (min-width: 1020px){
   .navbar-menu .tabs ul{
        display: flex;
    }
}

