@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

nav{
    margin-top: -20px;
}


.navbar-menu .tabs ul{
    font-family: 'Economica', sans-serif;
    display: block;
    font-size: 22px;
}

.container {
    padding: 20px;
}
section .column i {
    margin-left: 10px;
}
footer{
    background: transparent !important;
  }


  @media screen and (min-width: 1020px){
    .navbar-menu .tabs ul{
         display: flex;
     }
     .column .container {
       margin-top: 10px;
     }
  }
  

