<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sarmiente - Blog</title>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/6e7b88c5e0.js" crossorigin="anonymous"></script>
    </head>
       
 <body>
    <section class="hero">
        <nav class="navbar is-transparent">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="/src/img/logo.png" width="90" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
      
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <div class="tabs is-right">
                <ul>
                    <li><a href="/views/blog.html">Blog</a></li>
                    <li><a href="/views/proyectos.html">Proyectos</a></li>
                    <li><a class="button is-small is-primary" href="/views/contact.html">Contactame</a></li>
                </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    
   
<div class="column">
    <div class="container">             
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <p class="title is-4">Titulo I</p>
                <p class="subtitle is-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, exercitationem.</p>
              </article>
              <article class="tile is-child box">
                <p class="title is-4">Titulo I</p>
                <p class="subtitle is-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, exercitationem.</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title is-4">Titulo I</p>
                <p class="subtitle is-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, exercitationem.</p>
                <figure class="image is-4by3">
                  <img src="https://bulma.io/images/placeholders/640x480.png">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"></p>
              <p class="subtitle"></p>
              <div class="content">
                <p></p>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="content">
                <p class="title is-4"></p>
                <p class="subtitle is-6"></p>
              <div class="content">
                <p></p>
                <p></p>
                <p></p>
              </div>
            </div>
          </article>
        </div>
      </div>
      
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"></p>
            <p class="subtitle"></p>
            <div class="content">
              <p></p>
            </div>
          </article>
        </div>
        <div class="tile is-parent is-8">
          <article class="tile is-child box">
            <p class="title"></p>
            <p class="subtitle"></p>
            <div class="content">
              <p></p>
            </div>
          </article>
        </div>
      </div>
   </div>
 </div>
 <footer class="footer">
    <div class="social has-text-centered">
       <a href="http://github.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-github" style="color: purple;"></i></span></a>
       <a href="http://www.instagram.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-instagram" style="color: #833ab4;"></i></span></a>
       <a href="https://facebook.com/carlosarmientopinto" target="_blank"><span class="icon"><i class="fab fa-facebook" style="color: blue;"></i></span></a>
       <a href="https://twitter.com/_sarmiente" target="_blank"><span class="icon"><i class="fab fa-twitter" style="color: cyan;"></i></span></a>
       <a href="https://pinterest.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-pinterest" style="color: red;"></i></span></a>        
       <p>
        <strong>Sarmiente 2020 © Todos los derechos reservados</strong>.
      </p>
      
        <p>
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
    
  </footer>
 </body>
 </html>