<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactame</title>
    <link rel="stylesheet" href="/css/contact.css">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/6e7b88c5e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="hero">
        <nav class="navbar is-transparent">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="/src/img/logo.png" width="90" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
      
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                
                                <li><a href="/views/blog.html">Blog</a></li>
                                <li><a href="/views/proyectos.html">Proyectos</a></li>
                                <li><a class="button is-small is-primary" href="/views/contact.html">Contactame</a></li>
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </nav>

		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns">
					<div class="column has-text-centered">
						<h1 class="title is-3">Contactame</h1>
						<p class="is-size-5">Por favor deja tu mensaje no tardare mas de 24 horas en responder.</p>
						<br>
                        <div class="form column is-half">
                            <div class="field">
                                <label class="label">Nombre</label>
                                <div class="control">
                                    <input class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Correo</label>
                                <div class="control">
                                    <input class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Mensaje</label>
                                <div class="control">
                                    <textarea class="textarea is-medium"></textarea>
                                </div>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Enviar Mensaje</button>
                            </div>
                        </div>
                    </div>
              
					
				</div>
            </div>
            <div class="social-media has-text-centered">
                <p class="is-size-5">Tambien me puedes encontrar en redes sociales.</p>
                <a href="https://facebook.com/carlosarmientopinto" target="_blank" class="button is-link is-medium"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://instagram.com/sarmiente" target="_blank" class="button is-danger is-medium"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://twitter.com/_sarmiente" target="_blank" class="button is-info is-medium"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
		</div>
	</section>
</body>
</html>