<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio electronico - Articulos</title>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/6e7b88c5e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="hero">
        <nav class="navbar is-transparent">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/index.html">
                        <img src="/src/img/logo.png" width="90" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
      
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <div class="tabs is-right">
                <ul>
                    <li><a href="/views/blog.html">Blog</a></li>
                    <li><a href="/views/proyectos.html">Proyectos</a></li>
                    <li><a href="/views/contact.html">Contactame</a></li>
                </ul>
                      </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    
    
    
<div class="column">
    <div class="container">
        <div class="tile is-ancestor">
             <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">Esta el dropshipping muerto?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
           <div class="tile is-child box">
             <p class="title">Como hacer dropshipping en medio de la pandemia?</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
           </div>
         </div>

    <div class="tile is-parent">
           <div class="tile is-child box">
             <p class="title">Que son las pasarelas de pago? como instalar en mi web?</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
             <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
             <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
           </div>
         </div>
       </div>
 
    </div>
</div>
<div class="column">
 <div class="container">
  <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
        <div class="tile is-child box">
          <p class="title">Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
          <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
          <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
        </div>
      </div>
    </div>

 </div>
</div>

    

















    
   <footer class="footer">
    <div class="social has-text-centered">
       <a href="http://github.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-github" style="color: purple;"></i></span></a>
       <a href="http://www.instagram.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-instagram" style="color: #833ab4;"></i></span></a>
       <a href="https://facebook.com/carlosarmientopinto" target="_blank"><span class="icon"><i class="fab fa-facebook" style="color: blue;"></i></span></a>
       <a href="https://twitter.com/_sarmiente" target="_blank"><span class="icon"><i class="fab fa-twitter" style="color: cyan;"></i></span></a>
       <a href="https://pinterest.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-pinterest" style="color: red;"></i></span></a>        
       <p>
        <strong>Sarmiente 2020 © Todos los derechos reservados</strong>.
      </p>
      
        <p>
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
    
  </footer>
<style>
@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
}
.navbar-menu .tabs ul{
  font-family: 'Economica', sans-serif;
  display: block;
  font-size: 22px;
}
#navbarMenu {
  background: transparent !important;
}
.column article .title {
  padding-bottom: 10px;
}
footer{
  background: transparent !important;
}
@media screen and (min-width: 1020px) {
  .navbar-menu .tabs ul{
       display: flex;
   }
   .column .container {
     margin-top: 10px;
   }
}
</style>

</body>
</html>