<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulos sobre trading</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/6e7b88c5e0.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <section class="hero">
        <nav class="navbar is-transparent">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/index.html">
                        <img src="/src/img/logo.png" width="90" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
      
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <div class="tabs is-right">
                <ul>
                    <li><a href="/views/blog.html">Blog</a></li>
                    <li><a href="/views/proyectos.html">Proyectos</a></li>
                    <li><a href="/views/contact.html">Contactame</a></li>
                </ul>
                      </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    


    <div class="column">
    <div class="container">             
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <p class="title is-4">Recomendaciones y libros que todo trader debe leer</p>
                <p class="subtitle is-6">En este articulo pretendo hacer entender al lector las dos versiones del trading.</p>
                <figure class="image is-4by3">
                    <img src="/src/img/frust.jpg">
                  </figure>
                  <br>
                <a class="button is-small is-link" href="/src/blog-posts/trading/recomendaciones-y-libros.html">Leer más</a>
              </article>
             
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title is-4">¿Existe un horario perfecto para operar?</p>
                <p class="subtitle is-7">Es una pregunta muy frecuente, y por supuesto tiene respuesta...</p>
                <figure class="image is-4by3">
                  <img src="/src/img/time.jpg">
                </figure>
                <br>
                <a class="button is-small is-link" href="/">Leer más</a>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">Trading en tiempos de Pandemia</p>
              <p class="subtitle is-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, molestias? </p>
              <div class="content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sed delectus similique, eveniet deserunt laudantium porro modi voluptatem hic magnam.</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse corporis sint excepturi, modi mollitia atque. Voluptas veritatis ullam corporis dignissimos!</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse corporis sint excepturi, modi mollitia atque. Voluptas veritatis ullam corporis dignissimos!</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse corporis sint excepturi, modi mollitia atque. Voluptas veritatis ullam corporis dignissimos!</p>
                <a class="button is-small is-link" href="/">Leer más</a>  
              </div>
              
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="content">
                <p class="title is-4">¿Cuales son las mejores herramientas para operar?</p>
                <p class="subtitle is-6"></p>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae alias, pariatur est dolorum fuga ut.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, explicabo?</p>
                <figure class="image is-4by4">
                  <img src="/src/img/trader.jpg">
                </figure>
                
                <a class="button is-small is-link" href="/">Leer más</a>
              </div>
            </div>
          </article>
        </div>
      </div>
      
      <div class="publicidad has-text-centered">
        <a target="_blank" href="https://iqoption.com/lp/trading-platform/es/?aff=160920&afftrack=sarmiente"><img src="//static.cdnpub.info/files/storage/public/5d/83/56c0b92769d2a5c6d2.jpg" width="970" height="250" /></a>
      </div>
    
    <footer class="footer">
    <div class="social has-text-centered">
       <a href="http://github.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-github" style="color: purple;"></i></span></a>
       <a href="http://www.instagram.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-instagram" style="color: #833ab4;"></i></span></a>
       <a href="https://facebook.com/carlosarmientopinto" target="_blank"><span class="icon"><i class="fab fa-facebook" style="color: blue;"></i></span></a>
       <a href="https://twitter.com/_sarmiente" target="_blank"><span class="icon"><i class="fab fa-twitter" style="color: cyan;"></i></span></a>
       <a href="https://pinterest.com/sarmiente" target="_blank"><span class="icon"><i class="fab fa-pinterest" style="color: red;"></i></span></a>        
       <p>
        <strong>Sarmiente 2020 © Todos los derechos reservados</strong>.
      </p>
      
        <p>
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
    
    </footer>
<style>
    @import url('https://fonts.googleapis.com/css?family=Economica&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

.navbar-menu .tabs ul{
  font-family: 'Economica', sans-serif;
  display: block;
  font-size: 22px;
}
#navbarMenu {
  background: transparent !important;
}

.column article .title {
  padding-bottom: 10px;
}

footer{
  background: transparent !important;
}

@media screen and (min-width: 1020px) {
  .navbar-menu .tabs ul{
       display: flex;
   }
   .column .container {
     margin-top: 10px;
   }
}
</style>
</body>
</html>